#gallery {
    position: relative;
    float: right;
    width: 90px;
    margin-right: 10px;
    margin-left: auto;
    border-right: white 1px dotted;
}
#gallery img {
    display: inline-block;
    margin: 0 0 10px 0;
    border: 1px solid rgb(0,0,0);
}
#photo {
    margin-left: 150px;
    position: relative;
}
#photo img {
    position: absolute;
    display: block;
    margin-left: 10%;
    margin-right: auto;
    width: 75%;
}